* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: #18191F;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
}

p {
  line-height: 32px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.grid {
  display: grid;
  grid-column-gap: 30px;
  &__col {
    &_6 {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.btn {
  padding: 16px 41px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  background: #8C30F5;
  border-radius: 8px;
  color: #FFFFFF;
  transition: .4s;
  &:hover {
    background: #9d72c3;
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 16px;
  z-index: 1;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__burger {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  &__item {
    margin-right: 32px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    &-link {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #8C30F5;
        bottom: -5px;
        transform: scale(0);
        transition: .5s;
      }
    }
    &:hover:before {
      transform: scale(1);
    }
  }
}

.application {
  display: flex;
  &__item {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 7px;
    }
    img {
      transition: .5s;
    }
    &:hover img {
      transform: scale(1.05);
    }
  }
}

.hero {
  height: 866px;
  background: url("../img/hero-bg.png") no-repeat center/cover;
  &__container {
    position: relative;
    height: 100%;
  }
  &__title {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    padding: 240px 0 32px;
  }
  &__mobile {
    position: absolute;
    bottom: 58px;
    right: 0;
  }
}

.logo-list {
  text-align: center;
  padding: 45px 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    left: 0;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    left: 0;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  }
  &__item {
    margin: 0 32px;
    transition: 1s;
    &:hover {
      filter: grayscale(100);
    }
  }
}

.feature {
  text-align: center;
  padding: 80px 0 64px;
  &__desc {
    margin: 8px auto 48px;
    max-width: 540px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 64px;
  }
}

.feature-card {
  &__caption {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 24px 0 8px;
  }
  &__info {
    font-size: 16px;
    line-height: 26px;
  }
  svg {
    transition: .4s;
  }
  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
}

.testimonials {
  background: #D5FAFC;
  padding: 120px 0 48px;
  &__title {
    position: relative;
    z-index: 1;
  }
  &__left-side {
    padding-left: 95px;
    position: relative;
    .testimonials-card {
      float:right;
    }
  }
  &__small-quotes {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
  }
  &__big-quotes {
    position: absolute;
    top: -56px;
    left: 0;
  }
  &__right-side {
    padding-top: 48px;
  }
  &__desc {
    margin: 8px 0 24px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px
  }
  &-card {
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 32px;
    &__content {
      padding-left: 32px;
      position: relative;
    }
    &__review {
      font-size: 18px;
      margin: 32px 0 24px;
    }
    &_lg {
      max-width: 445px;
    }
    &_md {
      max-width: 350px;
    }
  }
  &-author {
    margin-top: 24px;
    &__name {
      line-height: 28px;
    }
    &__status {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #969BAB;
    }
  }
  &-small-card {
    width: 78.6%;
  }
}

.stats {
  padding: 82px 0;
  &__title {
    margin-bottom: 8px;
  }
  &-list {
    grid-row-gap: 40px;
    &__item {
      display: flex;
      align-items: center;
      svg {
        transition: .4s;
      }
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
    }
    &__content {
      margin-left: 24px;
    }
    &__heading {
      font-weight: 800;
      font-size: 28px;
      line-height: 40px;
    }
    &__subtitle {
      line-height: 26px;
    }
  }
}

.headline {
  padding: 64px 0;
  &__item-left {
    background: #F1E4FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 56px;
    img {
      max-width: 100%;
      margin-left: 15px;
    }
  }
  &__item-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 45px;
  }
  &__desc {
    margin: 32px 0;
  }
  &__link {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #8C30F5;
    display: flex;
    align-items: center;
    width: 150px;
    transition: .5s;
    svg {
      margin-left: 9px;
      transform: scale(1);
      transition: .5s;
    }
    &:hover {
      color: #9d72c3;
      svg {
        transform: scale(1.1);
        fill: #9d72c3;
      }
    }
  }
}

.trends {
  padding: 64px 0;
  &__img {
    margin-top: 48px;
    max-width: 100%;
  }
}

.cta {
  background: #2EC5CE;
  overflow: hidden;
  &__desc {
    margin: 8px 0 48px;
  }
  &__get-app {
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__top-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__bottom-img {
    position: absolute;
    bottom: 0;
    right: -50px;
  }
  &__grid-item {
    position: relative;
    padding: 68px 0;
  }
}

.footer {
  background: #0B0D17;
  padding: 56px 0;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin-bottom: 12px;
    display: inline-block;
  }
  &__link {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 12px 24px 0 0;
    display: inline-block;
    transition: .4s;
    &:hover {
      opacity: 0.8;
    }
  }
  &__rights {
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    margin-top: 15px;
  }
  &__get-app {
    font-weight: 500;
    color: #D9DBE1;
  }
  &__application {
    display: flex;
    flex-direction: column-reverse;
    &-item:not(:first-child) {
      margin-left: 0;
    }
    &-item {
      margin-top: 16px;
    }
  }
}
